<%= simple_form_for @poster do |f| %>
  Title
  <%= f.input :title, placeholder: "Poster title", hint: false, label: false, error: false %>

  Description
  <%= f.input :description, as: :rich_text_area, placeholder: "Poster description", hint: false, label: false, error: false %>

  Performer
  <%= f.input :performer, placeholder: "Performer", hint: false, label: false, error: false %>

  Concert
  <%= f.input :concert, placeholder: "Concert", hint: false, label: false, error: false %>

  Status
  <div>
    <%= f.input :status, default: @poster.status, collection: Poster.statuses.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
  </div>

  Category
  <div>
    <%= f.input :category, default: @poster.category, collection: Poster.categories.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
  </div>

  Fiber type
  <div>
    <%= f.input :fiber_type, default: @poster.fiber_type, collection: Poster.fiber_types.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
  </div>

  Collection
  <div>
    <%= f.input :collection, default: @poster.collection, collection: Poster.collections.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
  </div>

  Condition
  <div>
    <%= f.input :condition, default: @poster.condition, collection: Poster.conditions.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
  </div>

  SKU
  <%= f.input :sku, hint: false, label: false, error: false %>

  pH data
  <%= f.input :ph_data, hint: false, label: false, error: false %>

  Dimensions
  <%= f.input :dimensions, hint: false, label: false, error: false %>

  Fiber description
  <%= f.input :fiber_description, as: :rich_text_area, placeholder: "Fiber description", hint: false, label: false, error: false %>

  Condition description
  <%= f.input :condition_description, as: :rich_text_area, placeholder: "Condition description", hint: false, label: false, error: false %>

  Notes
  <%= f.input :notes, as: :rich_text_area, placeholder: "Poster notes", hint: false, label: false, error: false %>

  date
  <div id="event_datetime" class="grid grid-cols-2 mb-6 space-x-4">
    <div class="mb-4">
      <%= tag.div data: { controller: "datepicker" } do %>
        <%= f.input :event_datetime, as: :string, label: false, hint: false, required: true, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-md shadow-sm focus:ring-1 focus:ring-primary-500 focus:border-primary-600", data: { datepicker_target: "input" }, value: @poster.event_datetime&.strftime("%d/%m/%Y") }, placeholder: "DD/MM/YYYY" %>
      <% end %>
    </div>
  </div>

  <div class="p-6 space-y-2">
    <div class="grid grid-cols-5 overflow-auto gap-y-1 max-h-1/2">
      <% @poster.images&.each do |image| %>
        <% if image.image.persisted? %>
          <%= tag.div data: { controller: "purge", purge_target: "div", purge_id_value: image.signed_id, purge_classname_value: @poster.class.name.demodulize.downcase }, class: "m-2" do %>
            <div class="relative" id="modal-image-container">

              <%= tag.div class: "absolute top-0 left-0 z-0 flex items-center justify-center w-full h-full bg-gray-300 rounded", data: { purge_target: "placeholder" } do %>
                <svg class="w-12 h-12 text-gray-200" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor" viewBox="0 0 640 512"><path d="M480 80C480 35.82 515.8 0 560 0C604.2 0 640 35.82 640 80C640 124.2 604.2 160 560 160C515.8 160 480 124.2 480 80zM0 456.1C0 445.6 2.964 435.3 8.551 426.4L225.3 81.01C231.9 70.42 243.5 64 256 64C268.5 64 280.1 70.42 286.8 81.01L412.7 281.7L460.9 202.7C464.1 196.1 472.2 192 480 192C487.8 192 495 196.1 499.1 202.7L631.1 419.1C636.9 428.6 640 439.7 640 450.9C640 484.6 612.6 512 578.9 512H55.91C25.03 512 .0006 486.1 .0006 456.1L0 456.1z" /></svg>
              <% end %>

              <%= image_tag original_or_variant(image.image, image.image.variant(:thumb)), class: "relative z-10 object-cover w-full rounded", data: { purge_target: "object" } %>

              <%= tag.button type: "button", class: "absolute top-0 right-0 z-20", data: { action: "click->purge#delete", purge_target: "delete" } do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white bg-gray-700 rounded-md m-0.5 bg-opacity-30 hover:bg-gray-900 hover:bg-opacity-30" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              <% end %>

              <%= tag.button type: "button", class: "absolute top-0 right-0 z-20 hidden", data: { action: "click->purge#return", purge_target: "return" } do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 text-white bg-gray-700 rounded-md m-0.5 bg-opacity-30 hover:bg-gray-900 hover:bg-opacity-30">
                  <path fill-rule="evenodd" d="M7.793 2.232a.75.75 0 01-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 010 10.75H10.75a.75.75 0 010-1.5h2.875a3.875 3.875 0 000-7.75H3.622l4.146 3.957a.75.75 0 01-1.036 1.085l-5.5-5.25a.75.75 0 010-1.085l5.5-5.25a.75.75 0 011.06.025z" clip-rule="evenodd" />
                </svg>
              <% end %>

            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= tag.div class: "row-span-2", data: {
      controller: "uppy",
      uppy: "poster[images_attributes][][image]",
      uppy_target: "div",
      uppy_allowmultiplefiles_value: true,
      uppy_generatethumbnails_value: true,
      uppy_allowedfiletypes_value: ["image/*"]
    } do %>
    <%= t("forms.images").capitalize %>
    <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-md cursor-pointer hover:bg-gray-100 py-auto", data: { uppy_target: "trigger"} do %>
      <%= tag.p class: "font-medium", data: { uppy_target: "text" }, id: "images-text" do %>
        <%= t("forms.browse").capitalize %>
      <% end %>
    <% end %>
  <% end %>

  <button type="submit" class="w-full px-5 text-sm font-medium text-center">
    <%= t("forms.save").capitalize %>
  </button>
<% end %>
