<div class="text-center">
  <span>
    <%= t("posters.total").capitalize %>: <%= @posters.count %>
  </span>
  <div>
    <%= link_to t("posters.new").capitalize, [:new, :poster] %>
  </div>
  <div>
    <% @posters.each do |poster| %>
      <div>
        <%= link_to poster.title, poster %>
      </div>
    <% end %>
    <% if @pagy.pages > 1 %>
      <%== pagy_nav @pagy %>
    <% end %>
  </div>
</div>
