<h1 class="font-medium text-4xl text-center">New Poster</h1>

<section class="grid grid-cols-12">
  <div id="tabs" class="col-span-2 flex flex-col">
    <div class="flex space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
        <path d="M12 9h.01"></path>
        <path d="M11 12h1v4h1"></path>
      </svg>
      <span>
        General info
      </span>
    </div>
    <div class="flex space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sparkles" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z"></path>
      </svg>
      <span>
        Restoration data
      </span>
    </div>
    <div class="flex space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-camera" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"></path>
        <path d="M9 13a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
      </svg>
      <span>
        Photos
      </span>
    </div>
    <div class="flex space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
      </svg>
      <span>
        Files
      </span>
    </div>
  </div>
  <div id="form" class="col-span-10">
    <%= simple_form_for @poster, validate: true do |f| %>
      Title
      <%= f.input :title, placeholder: "Poster title", hint: false, label: false, error: false %>

      Description
      <%= f.input :description, as: :rich_text_area, placeholder: "Poster description", hint: false, label: false, error: false %>

      Performer
      <%= f.input :performer, placeholder: "Performer", hint: false, label: false, error: false %>

      Concert
      <%= f.input :concert, placeholder: "Concert", hint: false, label: false, error: false %>

      Status
      <div>
        <%= f.input :status, default: @poster.status, collection: Poster.statuses.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
      </div>

      Category
      <div>
        <%= f.input :category, default: @poster.category, collection: Poster.categories.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
      </div>

      Fiber type
      <div>
        <%= f.input :fiber_type, default: @poster.fiber_type, collection: Poster.fiber_types.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
      </div>

      Collection
      <div>
        <%= f.input :collection, default: @poster.collection, collection: Poster.collections.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
      </div>

      Condition
      <div>
        <%= f.input :condition, default: @poster.condition, collection: Poster.conditions.keys.map { |s| [s.humanize, s] }, hint: false, label: false %>
      </div>

      SKU
      <%= f.input :sku, hint: false, label: false, error: false %>

      pH data
      <div class="flex" data-controller="jsonb">
        <label for="ph_prior">
          Prior to restoration
          <input type="text" id="ph_prior" data-jsonb-target="input"/>
        </label>
        <label for="ph_post">
          Post restoration
          <input type="text" id="ph_post" data-jsonb-target="input"/>
        </label>
        <input class="jsonb optional hidden" name="poster[ph_data]" id="poster_ph_data" data-validate="true" data-jsonb-target="result"/>
      </div>

      Dimensions
      <div class="flex" data-controller="jsonb">
        <label for="height">
          Height
          <input type="text" id="height" data-jsonb-target="input"/>
        </label>
        <label for="width">
          Width
          <input type="text" id="width" data-jsonb-target="input"/>
        </label>

        <label for="thickness">
          Thickness
          <input type="text" id="thickness" data-jsonb-target="input"/>
        </label>
        <input class="jsonb optional hidden" name="poster[dimensions]" id="poster_dimensions" data-validate="true" data-jsonb-target="result"/>
      </div>

      Fiber description
      <%= f.input :fiber_description, as: :rich_text_area, placeholder: "Fiber description", hint: false, label: false, error: false %>

      Condition description
      <%= f.input :condition_description, as: :rich_text_area, placeholder: "Condition description", hint: false, label: false, error: false %>

      Notes
      <%= f.input :notes, as: :rich_text_area, placeholder: "Poster notes", hint: false, label: false, error: false %>

      Event date
      <div id="event_datetime" class="grid grid-cols-2 mb-6 space-x-4">
        <div class="mb-4">
          <%= tag.div data: { controller: "datepicker" } do %>
            <%= f.input :event_datetime, as: :string, label: false, hint: false, required: true, input_html: { class: "w-full p-4 pr-6 text-sm border-gray-300 rounded-md shadow-sm focus:ring-1 focus:ring-primary-500 focus:border-primary-600", data: { datepicker_target: "input" }, value: @poster.event_datetime&.strftime("%d/%m/%Y") }, placeholder: "DD/MM/YYYY" %>
          <% end %>
        </div>
      </div>

      <%= tag.div class: "row-span-2", data: {
      controller: "uppy",
      uppy: "poster[images_attributes][][image]",
      uppy_target: "div",
      uppy_allowmultiplefiles_value: true,
      uppy_generatethumbnails_value: true,
      uppy_allowedfiletypes_value: ["image/*"]
    } do %>
        <%= t("forms.images").capitalize %>
        <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-md cursor-pointer hover:bg-gray-100 py-auto", data: { uppy_target: "trigger"} do %>
          <%= tag.p class: "font-medium", data: { uppy_target: "text" }, id: "images-text" do %>
            <%= t("forms.browse").capitalize %>
          <% end %>
        <% end %>
      <% end %>

      <button type="submit" class="w-full px-5 text-sm font-medium text-center">
        <%= t("forms.submit").capitalize %>
      </button>
    <% end %></div>
</section>
