<%= simple_form_for @poster, validate: true do |f| %>
  <%= f.input :title, placeholder: "Poster title", hint: false, label: false, error: false %>
  <%= f.input :description, as: :rich_text_area, placeholder: "Poster description", hint: false, label: false, error: false %>
  <%= tag.div class: "row-span-2", data: {
      controller: "uppy",
      uppy: "poster[images_attributes][][image]",
      uppy_target: "div",
      uppy_allowmultiplefiles_value: true,
      uppy_generatethumbnails_value: true,
      uppy_allowedfiletypes_value: ["image/*"]
    } do %>
    Images
    <%= tag.div class: "flex items-center justify-center w-full p-2 pr-6 text-sm bg-white border border-gray-300 rounded-md cursor-pointer hover:bg-gray-100 py-auto", data: { uppy_target: "trigger"} do %>
      <%= tag.p class: "font-medium", data: { uppy_target: "text" }, id: "images-text" do %>
        Browse...
      <% end %>
    <% end %>
  <% end %>
  <button type="submit" class="w-full px-5 text-sm font-medium text-center">
    Submit
  </button>
<% end %>
