<!DOCTYPE html>
<html>
  <head>
    <title>Ihdb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="text-neutral-800 bg-white flex flex-col justify-between h-screen">
    <%= render "shared/nav" %>
    <main class="flex-grow h-full container">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
